{{#each matches}}
<div class="grouppanel">
    <div class="grouptitle">
        <div class="extend" data-index="{{@index}}"><a href="javascript:void(0)" >Word List …</a></div>
        <div class="titletext">Title: {{title}}</div>
    </div>
    <div id="dashboard" class="crosspanel">
        <div class="list-head">
            <div class="list-col list-col-name">Member</div><!--
            --><div class="list-col list-col-turn">1</div><!--
            --><div class="list-col list-col-turn">2</div><!--
            --><div class="list-col list-col-turn">3</div><!--
            --><div class="list-col list-col-turn">4</div><!--
            --><div class="list-col list-col-turn">5</div><!--
            --><div class="list-col list-col-turn">6</div><!--
            --><div class="list-col list-col-turn">7</div><!--
            --><div class="list-col list-col-turn">8</div><!--
            --><div class="list-col list-col-turn">9</div><!--
            --><div class="list-col list-col-turn">10</div><!--
            --><div class="list-col list-col-total">Total</div>
    </div>
        <div class="listwrapper">
            <div id="dashboardbody-{{@index}}" class="list-body">
                {{#each sorted}}
                <div class="list-row-member" data-index="{{@../index}}" data-memberid="{{memberid}}">
                    <div class="list-col list-col-name">{{nickname}}</div>
                    {{#each turnpoints}}
                    <div class="list-col list-col-turn">{{this}}</div>
                    {{/each}}
                    <div class="list-col list-col-total">{{totalpoints}}</div>
                </div><hr>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="wordlist-{{@index}}" class="crosspanel hidden">
        <div class="list-head">
        <div class="list-col list-col-pos">#</div><!--
        --><div class="list-col list-col-word">Word</div><!--
        --><div class="list-col list-col-pos">…</div><!--
        --><div class="list-col list-col-def">Definition</div>
        </div>
        <div class="listwrapper">
            <div id="wordlistbody-{{@index}}" class="list-body">
                {{#each words}}    
                <div id="m{{@../index}}-w{{@index}}" class="list-row-word"><!--
                --><div class="list-col list-col-pos">{{math @index "+" 1}}</div><!--
                --><div class="list-col list-col-word">{{word}}</div><!--
                --><div class="list-col list-col-pos">{{pos}}</div><!--
                --><div class="list-col list-col-def">{{def}}</div>
                </div><hr>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>    
</div>
{{/each}}